@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #15e5e5 0%, #071bfa 100%);
}

.cls{
    width: 45%;
    margin-top: 10px;
    position: fixed;
    
    border-radius: 30px;
    
    
}
h1{
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: rgb(16, 16, 16);
    font-size: 30px;
    background: #31cd7c00;
    width: 700px;
    left: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    background: linear-gradient(0deg, #15e5e58f 0%, #1123e67d 100%);
  position: relative;
  width: 700px;
  min-height: 500px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -3px -3px 7px #97c4e0,
               3px 3px 5px #4545ad;
             
}

