@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #15e5e5 0%, #071bfa 100%);
}

.cls{
    margin-top: 10px;
    position: fixed;
    top: 10px;
    border-radius: 30px;
    background: linear-gradient(0deg, #5cafd6ec 0%, #4949d2f7 100%);
    box-shadow: inset -1px -1px 4px #eecdcd,
              inset 1px 1px 3px #c7c7e7;
    
}
h1{
    color: rgb(16, 16, 16);
    font-size: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper,
.wrapper 
.name{
    
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #97c4e0,
               3px 3px 5px #4545ad;
             
}
.wrapper .name{
    margin-top: 20px;
    background: linear-gradient(0deg, #dfddddd3 0%, #e9e9ebf7 100%);
    text-align: center;
    transition: 0.5s;
}
.wrapper{
    background: linear-gradient(0deg, #15e5e58f 0%, #1123e67d 100%);
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.wrapper .name:hover:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  box-shadow: inset -1px -1px 4px #b33939,
              inset 1px 1px 3px #4747ab;
}


.wrapper .name{
  position: relative;
  width: 250px;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #353a5b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
}
