<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer care Registry</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/img3.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">    
</head>
<body>
    <header>
        
    <div class="wrapper">
        <div class="img">
            <img src="/static/logo.png" alt="Global">
            <p style="color: rgb(219, 211, 227); font-weight: bold; font-size: 24px;">Customer Care Registry</p>
        </div>
        <ul class="nav-area">
            <li><a href="/">Home</a></li>
            <li><a href="/agent">Agent Login</a></li>
            <li><a href="/admin">Admin Login</a></li>
            <li><a href="/login">User Login</a></li>
            <li><a href="/registertemp">Register</a></li>
            
        </ul>
    </div>
    <div class="img1">

            <img src="/static/img12.png" alt="">
        
        <div class="welcome-text">
            <h1 data-text="Customer Care Registry...">Customer Care Registry...</h1>
        </div>
        <div class="quote">
            <h1>We're here to help you...</h1>
        </div>
    </div>
</header>

</body>
</html>
